.App {
  text-align: center;
}

#person {
  background-color: azure;
  text-align: end;
  margin: 100px;
}

#netflix {
  display: flex;
  justify-content: space-around;
  margin: 100px;
  padding: 30px;
  background-color: rgb(4, 78, 4);  
}

#air {
  display: flex;
  text-align: left;
  justify-content: space-around;
  margin: 100px;
  padding: 30px;
  background-color: rgb(224, 170, 238); 
}

#bbc {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  margin: 100px;
  padding: 50px;
  background-color: rgb(255, 103, 103); 
}

.bbcChunk {
  padding: 20px;
}

